<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Immoa</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="predict">
                <span class="bi bi-asterik-fill-nav-menu" aria-hidden="true"></span> Predict
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="immodataoverview">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Data Overview
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="immodata">
                <span class="bi bi-list-columns-reverse-nav-menu" aria-hidden="true"></span> All Data
            </NavLink>
        </div>
    </nav>
</div>

